footer{
    height:11vh;
    width:100%;
    display:flex;
    justify-content:row;
    background-color:grey;
    color:white;
    font-family:sans-serif;
    h2{
        margin-top:0.9vh;
    }
    ul{
        list-style-type:none;
        li{
            a{
            text-decoration:none;
            color:white;
            margin:0.7vw;
            size:2rem;
            font-weight:600;
            }
        }
    }
}